*{
    font-family: roboto;
}

body{
    margin: 0px;
}


.header-container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

.header-items{
    margin:5px;
    text-decoration: none;

}
.header-items:hover{
    text-decoration: underline;

}

.header-grid{
    height: 25px;
    width: 25px;
    margin: 0px 5px;
}

.header-round{
    border-radius: 30px;
}

.logo-container{
    display: flex;
    margin: 100px 0px 20px 0px;
    justify-content: center;

}

.search-container{
margin: 0 auto;
border: 1px solid #dcdcdc;
width: 575px;
border-radius: 30px;
display: flex;
height: 45px;
}

.search-container:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar {
align-items: center;
justify-content: center;
width: 500px;
height:40px;
border: none;
outline: none;
margin-left: 20px;


}

.voice{
    height: 20px;
    position: relative;
    top: 13px;
    left: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.buttons{
    padding: 12px 17px;
    margin: 0px 10px ;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}

.buttons:hover{
    border:1px solid #dcdcdc;
    padding: 11px 16px;

}

.language-container{
display: flex;
justify-content: center;
margin-top: 10px;

}

.extra{
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.extra:hover{
text-decoration: underline;
}

.footer-country{
display: flex;
position: relative;
top: 120px;
border: 1px solid #dcdcdc;
height: 40px;
align-items: center;
background-color: #f1ecec;
}

.item-country{
justify-content: start;
margin: 0px 10px;
}

.footer-container{
display: grid;
padding: 0px;
grid-template-columns: 1.2fr 1fr 0.8fr 1.4fr 7fr 1fr 1fr 1fr;
grid-template-rows: 40px;
grid-template-areas: "ad bus ab how . pri terms set";
border: 1px solid #dcdcdc;
position: absolute;
bottom: 0px;
width: calc(100% - 3px);
margin: 1px 1px;
background-color: #f1ecec;
}

#advertising{
    grid-area: ad;
    margin-left: 10px;
}
#business{
    grid-area: bus;
}
#about{
    grid-area: ab;
}
#how{
    grid-area: how;
}
#privacy{
    grid-area: pri;
}
#terms{
    grid-area: terms;
}
#settings{
    grid-area: set;
}
